/*base css file*/

.padding{
	padding-top: 50px;
}

/*header*/
.navbar{
	background: #323232;
	border-radius: 0px;
	opacity: 0.9;
	border: none;
	/*position: fixed;*/
	/*width: 100%;*/
	z-index: 1000;

}

.navbar a{
	color: #fff !important;
	font-size: 14px;
}

.navbar a:hover{
	color: grey !important;
}
.navbar .dropdown-menu a{
	color: #111 !important;
}

/*slide styles*/
.mySlides {
	display:none;
}

.slide{
	width: 100%;
}

/*recommended services*/
h4{
	padding-top: 2em;
	padding-bottom: 1em;
}

.thumbnail p{
	padding-top: 0px !important;
}

/*full bucket*/
.allservices .service{
	padding-bottom: 3em;
}

/*how it works*/
.working{
	background-color: #323232;
	padding-bottom: 5em;
}

.working h3{
	color: #fff;
	text-align: center;
	padding:3em;
}

.wpro{
	align-content: center;
}

.working i{
	color: #fff;
	font-size: 3em;
}

.working h5{
	color: #fff;
}

.working p{
	color:#fff;
	font-size: 13px;
}


/*join as server*/
.joinus{
	border: 1px solid #F9F9F9;
	border-radius: 5px;
	margin-top: 8em;
	margin-bottom: 8em;
	background: #F9F9F9;
}

.joinus h2{
	padding: 1em;
}

.joinus input{
	background-color: #007AFF;
	color: #fff !important;
	border:1px solid #007AFF;
	border-radius: 5px;
	padding:10px 20px 10px 20px;
}

.joinus input:hover{
	background: #0040ff; 
}


/*client signup/login*/

.signup_form h2{
	text-align: center;
}
.signup_form form{
	align-content: center;
}

/*client dashboard and client detail*/
.client_details{
	border:1px solid #F9F9F9;
	background: #F9F9F9;
	box-shadow: 5px 5px 5px 5px;
	margin: auto;
	margin-bottom: 2em;
}

.client_details table {
	font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 100%;
}

.client_details td,th{
	border: none !important;
    text-align: left;
    padding: 8px;
}

.client_foto .card {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  max-width: 300px;
  margin: auto;
  text-align: center;
  font-family: arial;
}

.client_products table 
{
	font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 100%;
}

.client_products td, th {
    border: 1px solid #dddddd !important;
    text-align: left;
    padding: 0px;
}

.client_products tr:nth-child(even) {
    background-color: #dddddd;
}



/*restaurant/shop*/

.menu table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 100%;
}

.menu td, th {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 5px;
}

.menu tr:nth-child(even) {
    background-color: #dddddd;
}

.menu{
	/*padding-top: 2em;*/
	margin-bottom: 4em;
}

.menu i{
	font-size: 30px;
	margin-right: 10px;
}


/*header cart*/
.shopping-cart {
  margin: 70px 20px 0 0 !important;
  float: right !important;
  background: white;
  width: 320px;
  box-shadow: 5px 5px 5px 5px;
  border-radius: 3px;
  padding: 20px;
  margin-top: 1em;
  z-index: 1000;
  display: none;
  z-index: 10;  
  position: absolute;  
  right: 0;  
  top: 0;
  }
  
  .shopping-cart-header {
    border-bottom: 1px solid #E8E8E8;
    padding-bottom: 15px;
    }

    .shopping-cart-total {
      float: right;
    }
  
  
  .shopping-cart-items {
    
    padding-top: 20px;
	
   }
      /*li {
        margin-bottom: 18px;
      }*/
/*
    img {
      float: left;
      margin-right: 12px;
    }*/
    
    .item-name {
      display: block;
      padding-top: 10px;
      font-size: 16px;
    }
    
    .item-price {
      color: $main-color;
      margin-right: 8px;
    }
    
    .item-quantity {
      color: $light-text;
    }

.shopping-cart:after {
	bottom: 100%;
	left: 89%;
	border: solid transparent;
	content: " ";
	height: 0;
	width: 0;
	position: absolute;
	pointer-events: none;
	border-bottom-color: white;
	border-width: 8px;
	margin-left: -8px;
}

.cart-icon {
  color: #515783;
  font-size: 24px;
  margin-right: 7px;
  float: left;
}

.button {
  background: #5588EE;
  color:white;
  text-align: center;
  padding: 12px;
  text-decoration: none;
  display: block;
  border-radius: 3px;
  font-size: 16px;
  margin: 25px 0 15px 0;
  }

  &:hover {
    background: lighten($main-color, 3%);
  }


.clearfix:after {
  content: "";
  display: table;
  clear: both;
}

/*checkout page*/
#checkout-form #address_div{
	margin-left: 15px;
}

#checkout-form button{
	margin-left: 15px;
}

#checkout-form input,select,h3{
	width: 12em !important;
}

#checkout-form span{
	float: right;
	font-size: 20px;
}


/*cart increase/reduce*/

#reduce{
	font-size: 25px;
}
#increase{
	font-size: 20px;
}





/*footer*/
.footer{
	background: #212121;
	padding: 2em;
}

.footer ul li{
	color: #757560;
	text-align: center;
	text-align: justify;
}

.footer ul li a:hover{
	color: #fff;
}

.footer ul{
	list-style-type: none;
}

.footer i{
	font-size: 20px;
	margin-right: 7px;
}



/*small devices styles*/

@media screen and (max-width: 480px){

/*join css*/
	.joinus{
		margin:0;
	}

	.joinus h2{
		padding: 1em;
		font-size: 15px;
	}

	.joinus input{
		margin-top:20px; 
	}


	/*cart in shop page*/
	.menu .cart{
		margin-top: 2em;
	}

	/*client/professional*/
	.client_details{
		margin: 1.3em;
	}



}